body {
  background-color: #ab47bc;
  font-family: 'Open Sans', sans-serif;
}

section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.66); 
  box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.66);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

section h1 {
  font-size: 20px;
}

header {
  background-image: url('https://image.freepik.com/free-photo/top-view-of-a-working-desk-with-open-blank-notebook_1163-2581.jpg');
  background-size: cover;
  height: 80px;
  border-radius: 5px;
}

div {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #ccc;
}

img {
  width: 150px;
  heigth: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-50%);
  border: 8px solid white;
}